@{
    ViewBag.Title = "Trinity - ContactUs";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trinity Financial - ContactUs</title>
    <meta name="description" content="Trinity Financial Nigeria">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Image/trinity-logo-transparent.png" sizes="32x32">

    <link rel="icon" type="image/png" href="~/Image/trinity-logo-transparent.png" sizes="96x96">

    <link rel="icon" type="image/png" href="~/Image/trinity-logo-transparent.png" sizes="16x16">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    @*<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.html">*@
    <link href="~/assets/css/flaticon.css" rel="stylesheet" />
    <link href="~/assets/css/themify-icons.css" rel="stylesheet" />
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/vendors/animate.css/animate.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic&amp;subset=latin,latin-ext,cyrillic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/trinity/styles.css">
    <!--Main stylesheet-->
    <link rel="stylesheet" href="/assets/css/main.css?444">
    <!--Modernizr js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browsenrupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--Page Content-->
    <div class="page-content">
        <!-- Page Navigation-->
        <div class="main-nav nav-absolute bgc-dark-o-5">
            <div class="__middle">
                <div class="container">
                    <div class="nav-content-wrapper">
                        <div class="pull-left">
                            <div class="trinity inline logo-light">
                                <div class="cell-vertical-wrapper">
                                    <div class="cell-middle">
                                        <a href="@Url.Action("Index")">
                                            <div class="logo">
                                                <img src="~/Image/trinity-logo-transparent.png" /></div>
                                            <div class="brand">Trinity Financial</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <nav class="os-menu  main-menu text-center">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index")">HOME</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AboutUs")">ABOUT US</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Services")">SERVICES</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Board")"> BOARD/MANAGEMENT PROFILE</a>
                                    </li>
                                    @*<li>
                                        <a href="@Url.Action("News")">NEWS</a>
                                    </li>*@
                                    <li>
                                        <a href="@Url.Action("FAQ")">FAQs</a>
                                    </li>
                                    <li class="active">
                                        <a href="@Url.Action("ContactUs")">CONTACT US</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav small-nav bgc-light fixed-tranformed-bg-light nav-fixed border-bottom">
            <div class="container">
                <div class="nav-content-wrapper">
                    <div class="pull-left">
                        <div class="trinity inline logo-dark">
                            <div class="cell-vertical-wrapper">
                                <div class="cell-middle">
                                    <a href="@Url.Action("Index")">
                                        <div class="logo">
                                            <img src="~/Image/trinity-logo-transparent.png" />
                                        </div>
                                        <div class="brand">TRINITY FINANCIAL</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right visible-lg">
                        <nav class="os-menu main-menu">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index")">HOME</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AboutUs")">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Services")">SERVICES</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Board")"> BOARD/MANAGEMENT PROFILE</a>
                                </li>
                                @*<li>
                                <a href="@Url.Action("News")">NEWS</a>
                            </li>*@
                                <li>
                                    <a href="@Url.Action("FAQ")">FAQs</a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("ContactUs")">CONTACT US</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                    <div class="pull-right nav-item hidden-lg"><a href="#" class="mobile-nav-toggle nav-hamburger"><span></span></a></div>
                </div>
            </div>
        </div>

        <div class="mobile-nav">
            <a href="#" class="mobile-nav-toggle"><i class="icon-close47"></i></a><a href="@Url.Action("Index")" class="trinity">
                <div class="logo">
                    <img src="~/Image/trinity-logo-transparent.png" /></div>
                <div class="brand">Trinity Financial</div>
            </a>
            <nav class="os-menu mobile-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("Index")">HOME</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AboutUs")">ABOUT US</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Services")">WHAT WE DO</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Board")"> BOARD/MANAGEMENT PROFILE</a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("News")">NEWS</a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("FAQ")">FAQs</a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("ContactUs")">CONTACT US</a>
                    </li>
                </ul>
            </nav>
            <div class="search-area">

            </div>
            <div class="social-area">
                <ul class="social circle gray">
                    <li><a href="https://facebook.com/trinityfinanceltd"><i class="icon icon-facebook-1"></i></a></li>
                    <li><a href="https://twitter.com/trinityfinancel"><i class="icon icon-twitter-1"></i></a></li>
                    <li><a href="https://linkedin.com/in/trinityfinanceltd/"><i class="icon icon-linkedin-1"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Page Navigation-->
        <!--Page Header-->
        <header class="page-header common-header bgc-dark-o-5">
            <div data-parallax="scroll" data-image-src="/Image/bg1.jpeg" data-speed="0.3" class="parallax-background"></div>
            <div class="container text-center cell-vertical-wrapper">
                <div class="cell-middle">
                    <h1 class="text-responsive caption nmb">WHERE TO FIND US</h1>
                    <p class="nmb common-serif text-responsive">Get in touch with us.</p>
                </div>
            </div>
            <div class="ab-bottom col-xs-12">
                <div class="container">
                    <div class="breadcrumb bgc-dark-o-6"><span class="__title font-heading fz-6-s">YOU ARE HERE :</span><span class="__content italic font-serif fz-6-ss"><span><a href="@Url.Action("Index")">Home</a></span><span><a href="#">Contact Us</a></span></span></div>
                </div>
            </div>
        </header>
        <!--End Page Header-->
        <!--Page Header-->
        <!--End Page Header-->
        <!--Page Body-->
        <div id="page-body" class="page-body">
            <section class="page-section no-padding bgc-light">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.73588084976!2d3.4466012140530444!3d6.427968495349357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5afb4a5fea9%3A0x9a624c1fb2f56d3e!2sTrinity%20Financial!5e0!3m2!1sen!2sng!4v1579374316874!5m2!1sen!2sng" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </section>
            <section class="page-section bgc-light">
                <div class="contactusnow">
                    <h1 align="center" style="color: white; font-weight: bold;">Trinity Financial</h1>

                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <h2 align="center" style="color: white;">Trinity House Annex, 19A, Odudu Eleyiwo Road, Oniru Estate, VI Lagos Nigeria</h2>

                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <h2 align="center" style="color: white;">+234 (0) 8094533684</h2>

                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <h2 align="center" style="color: white;">info@trinityfinancialng.com</h2>


                </div>
            </section>
        </div>
        <!--End Page Body-->
        <!--Page Footer-->
        <footer id="footer" class="page-footer footer-preset-7">
            <div class="footer-body bgc-gray-darker">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="footer-widget-about">
                                <h4>ABOUT US</h4>
                                <p style="font-size:18px">Trinity Financial is committed to its passion of helping entrepreneurs and Individuals to improve their Financial opportunities.</p>
                                <ul class="social circle">
                                    <li><a href="https://facebook.com/trinityfinanceltd" target="_blank"><i class="icon icon-facebook-1"></i></a></li>
                                    <li><a href="https://twitter.com/trinityfinancel" target="_blank"><i class="icon icon-twitter-1"></i></a></li>
                                    <li><a href="https://linkedin.com/in/trinityfinanceltd/" target="_blank"><i class="icon icon-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="footer-widget-tag">
                                <h4>IMPORTANT LINK</h4>
                                <div class="__content">@*<a href="contact-us.html">Get Loans</a>*@<a href="@Url.Action("Board")">Board/Management Profile</a><a href="@Url.Action("ContactUs")">Chat</a><a href="@Url.Action("Services")">Services</a><a href="@Url.Action("ContactUs")">Locations</a><a href="@Url.Action("ContactUs")">Phone</a><a href="@Url.Action("ContactUs")">Our Office</a><a href="@Url.Action("Services")">Why With Us</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="footer-widget-info">
                                <h4>INFORMATION</h4>
                                <div class="__content font-heading fz-6-ss">
                                    <div><span><a href="@Url.Action("AboutUs")">ABOUT Trinity Financial </a></span><span><a href="@Url.Action("ContactUs")">WHERE IS OUR OFFICE</a></span><span><a href="@Url.Action("Board")"> BOARD/MANAGEMENT PROFILE</a></span><span><a href="@Url.Action("ContactUS")">HOW TO REACH US</a></span><span><a href="@Url.Action("Services")">WHAT WE OFFER</a></span><span><a href="@Url.Action("AboutUs")">WHY US?</a></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-12">
                            <div class="footer-widget-newsletter">
                                <h4>NEWS LETTER</h4>
                                <p style="font-size:18px">Subscribe to get news from us</p>
                                <form>
                                    <div class="__inputs">
                                        <input type="text" name="name" placeholder="Name" />
                                        <input type="email" name="email" placeholder="trinityfinancialng.com" />
                                    </div>
                                    <div class="__button"><a href="#" class="btn btn-primary fullwidth">SUBSCRIBE</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 __block-wrapper-4">
                            <div class="footer-widget-logo text-center">
                                <a href="@Url.Action("Index")" class="trinity logo-light size-2">
                                    <div class="logo">
                                        <img src="~/Image/trinity-logo-transparent.png" /></div>
                                    <div class="brand">Trinity Financial <br /><small>Copyright &copy; 2020</small></div>
                                </a>

                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End Page content-->
    <!--Javascript Library-->
    <button id="back-to-top-btn"><i class="icon-up-open-big"></i></button>
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/vendors/waypoints/lib/shortcuts/sticky.min.js"></script>
    <script src="/vendors/smoothscroll/SmoothScroll.js"></script>
    <script src="/vendors/wow/dist/wow.min.js"></script>
    <script src="/vendors/parallax.js/parallax.js"></script>
    <script type="text/javascript" src="/vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/vendors/jquery-modal/jquery.modal.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwtb7cR_XBPEvxtQ_Yq3_xKsOWQroCTPA&amp;sensor=false"></script>
    <script type="text/javascript" src="/assets/js/main.js?v=245568678"></script>
    <!-- Google analytics-->
    @*  <script type="text/javascript">(function(b,o,i,l,e,r){b.GoogleAsnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='../../www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-57387972-3');ga('send','pageview');</script>*@
    <!--End Javascript Library-->
    <script>
        //$("#btnsendmsg").click(function () {
        //    var name = $("#name").val();
        //    var phone = $("#phone").val();
        //    var msg = $("#msg").val();
        //    var email = $("#email").val();

        //});

    </script>
</body>


</html>